# Basic Python

### Credit: The content in this notebook was created by modifying a jupyter notebook originally supplied by Professor Daniel Acuna.

## Python Tries to Keep It Simple

In [28]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Python syntax is expressive

In [29]:
a, b = (2, 3)
print(a, b)
1 < 3 < 5

2 3

True

## Create a few variables

In [30]:
# define a couple of variables
x = 3
print("x =", x)

y = 5
print("y =", y)

# compute a product 
product = x * y
print("product =", product)

# change one of the variables and compute a new product
y = 10
product = x * y
print("new product =", product)

x = 3
y = 5
product = 15
new product = 30

## Basic types

You can check the type of a variable using `type`

In [31]:
type(1)

int

In [32]:
type(1.0)

float

In [33]:
type("4.5")

str

In [34]:
type(True)

bool

In [35]:
type([4.5])

list

In [36]:
type({'x': 4.5})

dict

In [37]:
type((1, 2, 3, 4))

tuple

In [38]:
type((4.5))

float

In [39]:
type((4.5, ))

tuple

# Values and References:

A reference type contains a pointer which points to an area in memory that contains data.  When we copy a reference, we make a copy of the pointer, not the data.  

A value type contains the data (not a pointer to the data).  

The difference between reference and value types can produce unexpected outcomes as illustrated in the cells below.

In [40]:
# reference example using lists
list1 = [1,2,3,4,5]
list2 = list1
list2.append(6)
print("list1 =", list1)
print("list2 =", list2)

list1 = [1, 2, 3, 4, 5, 6]
list2 = [1, 2, 3, 4, 5, 6]

In [41]:
# how to make a copy of a reference type
list3 = list2.copy()
list3.append(7)
print("list2 =", list2)
print("list3 =", list3)

list2 = [1, 2, 3, 4, 5, 6]
list3 = [1, 2, 3, 4, 5, 6, 7]

In [42]:
# value example using ints
foo = 1
bar = foo
bar = 2
print("foo =", foo)
print("bar =", bar)

foo = 1
bar = 2

# Logical Boolean Operators

Python implements all of the usual operators for Boolean logic.  Logical Boolean operators operate on individual Boolean values.  Logical boolean examples follow.

In [43]:
print(True and False) # Logical AND;
print(True or False)  # Logical OR;
print(not True)   # Logical NOT;

False
True
False

# Lists

Lists are mutable structures that hold a list of arbitrary data types:

In [44]:
x = [1, 2, 3]
y = [1, "1", None]

In [45]:
# length
len(x)

3

You can append to a list:

In [46]:
x.append(4)

In [47]:
x

[1, 2, 3, 4]

You can concatenate two lists:

In [48]:
x + y

[1, 2, 3, 4, 1, '1', None]

You can ask if an element belongs to a list

In [49]:
2 in x

True

In [50]:
-1 in x

False

You can index or slice a list by using the following notation:

`x[start:stop:step]`: where `start` is the initial element of the slice, `stop` is the final element (until), and `step` is how many elements will skip to move from `start` until `stop`.  Indices start from 0 and you can omit `stop` and `step`:

In [51]:
x = [1, 2, 3, 4]

The first element of the list is index 0

In [52]:
x[0]

1

The 4th element in the list because 0 is the first element

In [53]:
x[3]

4

The entire array

In [54]:
x

[1, 2, 3, 4]

Access from the 0 index, to index 2 (the stop index is omitted)

In [55]:
x[0:3]

[1, 2, 3]

Print every other element:

In [56]:
x[0:3:2]

[1, 3]

A negative index indicates indexing from the end.  -1 indexes the last element, -2 indexes second to last element.

In [57]:
x[-1]

4

In [58]:
x[-2]

3

Lets take the last three elements:  Start at -3 and go to the end.

In [59]:
x[-3:]

[2, 3, 4]

If you omit `stop`, it will assume it is until the end of the list:  Index starting at -3, go to the end of the list, access every other element.

In [60]:
x[-3::2]

[2, 4]

The first two items reversed:  Since the step is negative, the stop value is the beginning of the array (index 0)

In [61]:
x[1::-1]

[2, 1]

The last two items reversed.  Note that the start defaults at the end of the array because the stop value is negative.

In [62]:
x[:-3:-1]

[4, 3]

Everything except the last two items reversed.  In this case, the stop value defaults to 0 because the start is negative.

In [63]:
x[-3::-1]

[2, 1]

Reverse the entire list

In [64]:
foo = [1,2,3,4]
bar = foo[::-1] # increment is negative so the start is the array end and the stop is the array beginning
print(foo)
print(bar)

[1, 2, 3, 4]
[4, 3, 2, 1]

# Tuples

Tuples are like lists but they are *immutable* (cannot be changed)

In [65]:
z = (1, 2, 3, 4, 5)

In [66]:
a, b = (7, 9)
print("a = %d b = %d" % (a, b))

a = 7 b = 9

In [67]:
# try: z.append(2)

# Basic Operators

Python has a very expressive set of condition statements:

In [68]:
account_balance = 100
withdrawal_amount = 200

Is my balance greater than 0?

In [69]:
account_balance > 0

True

Can I withdraw $ 200?

In [70]:
account_balance - withdrawal_amount >= 0

False

You can combine statements in an intuitive way:

In [71]:
0 <= account_balance <= 100

True

In [72]:
0 <= account_balance and account_balance <= 100

True

In [73]:
# modulo operator (%) returns the remainder
print(10 % 5)

print(10 % 3)

print(10 % 7)

0
1
3

# If - Then - Else

In [74]:
if account_balance == 100:
    print("You have one hundred dollars")
else:
    print("You do not have one hundred dollars")

You have one hundred dollars

In [75]:
account_balance = 99
if account_balance == 100:
    print("You have one hundred dollars")
elif account_balance > 100:
    print("You do not have more than one hundred dollars")
else:
    print("You have less than one hundred dollars")

You have less than one hundred dollars

# Loops

You can loop over the elements of a list like this:

In [76]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in enumerate function:

In [77]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: cat
#2: dog
#3: monkey

### Activity: FizzBuzz

"Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”."

In [78]:
# code
for i in range(100):
    if i % 3 == 0 and i % 5 == 0:
        print(i, "Fizz, buzz")
    elif i % 3 == 0:
        print(i, "Fizz")
    elif i % 5 == 0:
        print(i, "Buzz")

0 Fizz, buzz
3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 Fizz, buzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 Fizz, buzz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 Fizz, buzz
48 Fizz
50 Buzz
51 Fizz
54 Fizz
55 Buzz
57 Fizz
60 Fizz, buzz
63 Fizz
65 Buzz
66 Fizz
69 Fizz
70 Buzz
72 Fizz
75 Fizz, buzz
78 Fizz
80 Buzz
81 Fizz
84 Fizz
85 Buzz
87 Fizz
90 Fizz, buzz
93 Fizz
95 Buzz
96 Fizz
99 Fizz

# Strings

Strings are also manipulated similar to lists

In [79]:
s = "Every once in a while there is a revolutionary product that comes along and changes everything"

In [80]:
s[0]

'E'

In [81]:
s[0:10]

'Every once'

In [82]:
s[-10:]

'everything'

In [83]:
s[0::2]

'Eeyoc nawieteei  eouinr rdc htcmsaogadcagseeyhn'

Some times you want to transform a string into a list of words (e.g., Natural Language Processing):

In [84]:
s.split()

['Every',
 'once',
 'in',
 'a',
 'while',
 'there',
 'is',
 'a',
 'revolutionary',
 'product',
 'that',
 'comes',
 'along',
 'and',
 'changes',
 'everything']

You can do the reverse by using the `join` operation over string:

In [85]:
word_list = ['I', 'love', 'data', 'science']

In [86]:
" ".join(word_list)

'I love data science'

In [87]:
'-'.join(word_list)

'I-love-data-science'

# Formatting Strings

In [88]:
# create a string using integers and floats
str1 = 'Error the value {1} was received but the value {0} was expected'.format(1, 3.1415)
print(str1)

str2 = 'Error: the string {} was received but {} was expected'.format('foo', 'bar')
print(str2)

# using argument positions in the format specification
str3 = 'Error: the string {1} was received but {0} was expected'.format('foo', 'bar')
print(str3)

Error the value 3.1415 was received but the value 1 was expected
Error: the string foo was received but bar was expected
Error: the string bar was received but foo was expected

# Functions

In [89]:
def f():
    return 5

In [90]:
f()

5

In [91]:
def add(a, b):
    return a + b

In [92]:
add(2, 3)

5

In [93]:
add("hello ", "world")

'hello world'

In [94]:
add([1,2,3], [4])

[1, 2, 3, 4]

# Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [95]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [96]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [97]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

Note: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

# Dictionaries

Store key value pairs

In [99]:
S = {'name' : 'bob', 
     'gpa'  : 3.4 }
S['major'] = 'IM'

In [100]:
S

{'name': 'bob', 'gpa': 3.4, 'major': 'IM'}

In [101]:
S['gpa']

3.4

In [102]:
S['major']

'IM'

In [103]:
S['age']

KeyError: 'age'

In [105]:
S.get('age', '')

''

# List comprehension

Very easy to describe lists

In [106]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

We can even add some conditions

In [108]:
[i for i in range(10) if i > 5]

[6, 7, 8, 9]

Multiples of 2

In [109]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

Powers of 2

In [110]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

You can nest comprehensions

In [111]:
[[[j, i] for i in range(5)] for j in range(5)]

[[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4]],
 [[1, 0], [1, 1], [1, 2], [1, 3], [1, 4]],
 [[2, 0], [2, 1], [2, 2], [2, 3], [2, 4]],
 [[3, 0], [3, 1], [3, 2], [3, 3], [3, 4]],
 [[4, 0], [4, 1], [4, 2], [4, 3], [4, 4]]]

You can concatenate multiple comprehensions

In [112]:
[[i, j] for i in range(5) for j in range(5) if i < j]

[[0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [1, 2],
 [1, 3],
 [1, 4],
 [2, 3],
 [2, 4],
 [3, 4]]

#### Activity: Create a list comprehension of the prime numbers.

In [114]:
# first, create function that checks whether a number is prime
def isPrime(n):
    # Corner cases 
    if (n <= 1) : 
        return False
    if (n <= 3) : 
        return True
  
    # This is checked so that we can skip  
    # middle five numbers in below loop 
    if (n % 2 == 0 or n % 3 == 0) : 
        return False
  
    i = 5
    while(i * i <= n) : 
        if (n % i == 0 or n % (i + 2) == 0) : 
            return False
        i = i + 6
  
    return True
  
  
# test
if (isPrime(31)) : 
    print(" true") 
else : 
    print(" false") 
      
if(isPrime(15)) : 
    print(" true") 
else :  
    print(" false")

 true
 false

In [115]:
# then, create the list comprehension
[i for i in range(100) if isPrime(i) ]

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

#### Activity Use list comprehension to flatten the matrix in the following cell:

\[[1, 2, 3], [4,5,6]] => [1,2,3,4,5,6]

In [116]:
foo = [[1, 2, 3], [4, 5, 6]]

[el for list_i in foo for el in list_i]

[1, 2, 3, 4, 5, 6]

#### Activity: Using only list comprehension, create a dictionary with words as keys and frequency as values:

In [117]:
words = "data science is a science that studies data".split()

{word: words.count(word) for word in words}

{'data': 2, 'science': 2, 'is': 1, 'a': 1, 'that': 1, 'studies': 1}

# Advanced topics

### Keyword parameters

Define a simple function

In [118]:
def f():
    return 5

Check the type of the function

In [119]:
type(f)

function

Define a function with default parameters b and c

In [120]:
def f2(a, b=0, c=3):
    return (a + b)*c

Show that the function with default parameters can be called by omitting all, some, or none of the defaults.

In [121]:
f2(1), f2(1, 2), f2(1,c=5), f2(1, 2, 3), f2(1, c=3, b=2)

(3, 9, 5, 9, 9)

Default params must be defined last, the following is a syntax error.

In [122]:
f2(1, b=3, 3)

SyntaxError: positional argument follows keyword argument (<ipython-input-122-78d6529d3e9e>, line 1)

Python’s default arguments are evaluated once when the function is defined, not each time the function is called (like it is in say, Ruby). This means that if you use a mutable default argument and mutate it, you will have mutated that object for all future calls to the function as well.  The local variable x is similar to a "static" variable in C++.

In [123]:
def f3(x=[]):
    x.append(1)
    return x

In [124]:
f3()

[1]

The next call adds another 1 to the default list x.

In [125]:
f3()

[1, 1]

To avoid the unexpected behaviour caused by the static nature of default args, one option is to write code to create a new variable each time the function is called.

In [126]:
def f4(x=None):
    if x is None:
        x = []
    x.append(1)
    return x

In [127]:
f4()

[1]

This time the 2nd call produces a consistent result because the variable x is newly created each time the function is called.

In [128]:
f4()

[1]

Define a function that returns a list created from its parameters.

In [129]:
def f5(a, b=2, c=3):
    return [a, b, c]

In [130]:
f5(3, 2, 1)

[3, 2, 1]

Note that we pass a list to f5 it will return a list containing a list.

In [131]:
f5([3, 2, 1])

[[3, 2, 1], 2, 3]

The star operator expands the list by selecting each element of the list.  The result is that the call sends 3, 2, 1 to f5 instead of the list [3, 2, 1].

In [132]:
f5(*[3, 2, 1])

[3, 2, 1]

The ** operator extracts values from the dictionary

In [133]:
f5(*[3], **{'c': 1, 'b': 2})

[3, 2, 1]

The * operator extracts keys from the dictionary

In [134]:
f5(*[3], *{'c': 1, 'b': 2})

[3, 'c', 'b']

A "map" operation is the processes of performing an operation on each element of an object.  For example, perform a math operation on each element of a list.  In map2 below, we show that functions are treated as first class variables in python.  The 'f' parameter is a function that we intend to apply to the list L.

In [135]:
def map2(f, L):
    return [f(e) for e in L]

Define a function which we intend to pass to map2

In [136]:
def f6(n):
    return n + 1

Call map2 passing in the function f6 and a list on which to perform the map operation.  The map operation adds 1 to each element of the list.

In [137]:
map2(f6, [1,2,3,4])

[2, 3, 4, 5]

### Function Generators

Another example of how python treats functions as first class variables.  The n_successor function defines and returns a function to the caller.  This is a function generator.

In [138]:
def n_successor(n=1):
    def f(x):
        return x + n
    return f

In [139]:
successor = n_successor()

In [140]:
print(successor(1))

2

In [141]:
successor(2)

3

In [142]:
successor10 = n_successor(10)

In [143]:
successor10(1)

11

In [144]:
successor10(2)

12

### Anonymous functions

Anonymous functions are "inline" functions that are not named.  The following defines an anonymous function that takes x as an argument and adds 1 to x.  It is then called anonymously passing in a 2.

In [145]:
(lambda x: x + 1)(2)

3

Here we assign an anonymous function to variable anon_f.

In [146]:
anon_f = (lambda x: x + 1)

Now call anon_f passing in a 2.

In [147]:
anon_f(2)

3

### Function docs

A python docstring is placed right after the function declaration and enclosed in triple quotation marks.  The doc string is used by python in it's help module.

In [148]:
def f7():
    """This function returns 0"""
    return 0

In [149]:
f7.__doc__

'This function returns 0'

The question mark is used to print help

In [150]:
f7?

In [151]:
?f7

### Exceptions

An exception is an object that is "trown" when an exceptional situation happens.  For example, the python math libray throws an exception if we try to divide by 0.  Exceptions are handled in a "try / catch block".

In [154]:
import sys

try:
    # uncomment the following lines one at a time leaving all other lines commented
    1/1
    #1/0
    #raise Exception("My Custom Exception")
except ZeroDivisionError as exception:
    print("Caught a ZeroDivisionError Exception!")
    print(exception)
except Exception as exception: 
    print("Catch all exceptions in this block")
    print(exception)
else:
    print("Print this if there are no exceptions")
finally:
    print("This is always executed!")

Print this if there are no exceptions
This is always executed!

### Generators (Iterators)

The yield statement tells python to treat the function as an object.  Instead of executing the function, a generator object is created.

In [155]:
def range_custom(n):
    i = 0
    while i < n:
        yield i
        i += 1

Create the generator

In [156]:
gen = range_custom(3)

The type of the variable named gen is 'generator'

In [157]:
type(gen)

generator

Iterate through the generator values

In [158]:
next(gen)

0

In [159]:
next(gen)

1

In [160]:
next(gen)

2

The generator raises an exception when it reaches the end

In [161]:
next(gen)

StopIteration:

## Object oriented programming

Define a simple python class.  The __init__ method is the constructor.  Internal class memeber variables are accessed using the "self." syntax.  "self" Refers to the current instance of the class object.

#### Activity: Implement the withdraw method below

In [10]:
class BankAccount():
    # here the __init__ function is called when the class is constructed
    def __init__(self, initial_balance = 0):
        self.balance = initial_balance
        
    def deposit(self, amount):
        self.balance += amount
    
    def withdraw(self, amount):
        if self.balance <= amount:
            self.balance -= amount
            
    def get_balance(self):
        return self.balance
    
    def __repr__(self):
        return "Bank account with a balance of " \
                + str(self.balance)

#### Activity: Implement the withdraw method above, implement merge_accounts below.

In [11]:
# your code here: implement function that merges two accounts
def merge_accounts(a1, a2):
    balance1 = a1.get_balance()
    balance2 = a2.get_balance()
    total = balance1 + balance2
    
    a1.withdraw(balance1)
    a1.withdraw(balance2)
    
    merged_acct = BankAccount(total)
    #merged_acct.deposit(total)
    return merged_acct

The below cells tests merge_accounts.

In [12]:
ba1 = BankAccount()
ba1.deposit(100)

# python uses __repr__ behind the scenes to print the representation of the BankAccount class
print(ba1)

# can also use the python "repr" function
repr(ba1)

Bank account with a balance of 100

'Bank account with a balance of 100'

In [177]:
ba2 = BankAccount()
ba2.deposit(50)

In [178]:
merged = merge_accounts(ba1, ba2)
print(repr(merged))

Bank account with a balance of 150

## Reading / Writing Files

In [179]:
# define the file name
file_name = "test_file.txt"

# write to a file
with open(file_name, "w") as out_file:
    out_file.write("First line of text.\n")
    out_file.write("Second line of text.\n")
    out_file.write("Third line of text.")
    
# read the file
with open(file_name, "r") as in_file:
    lines = in_file.read()
    
print(lines)

First line of text.
Second line of text.
Third line of text.